<!-- Responsive panel example-->

<div class="row">
  <div class="col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><%= @event.name %></h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-12">
            <dl class="dl-horizontal">
              <dt>Event</dt>
              <dd><%= @event.name %></dd>

              <dt>Address</dt>
              <dd><%= @event.address %></dd>

              <dt>Date</dt>
              <dd><%= @event.date %></dd>

              <dt># of Tickets for sale</dt>
              <% users = @event.tickets.where({:for_sale_wanted => true}) %>
              <dd><%= users.count %></dd>

              <dt>Average price</dt>
              <% total = 0 %>
              <% ticketlist = @event.tickets.where({:for_sale_wanted => true}) %>
              <% ticketlist.each do |ticket|%>
              <% total += ticket.price%>
              <% end %>
              <% if ticketlist.count > 0%>
              <dd><%= total/ticketlist.count %></dd>
              <% else %>
              <dd>N/A</dd>
              <% end %>

              <dt># of Tickets wanted</dt>
              <% users = @event.tickets.where({:for_sale_wanted => false}) %>
              <dd><%= users.count %></dd>

              <dt>Type</dt>
              <dd><%= @event.type.name %></dd>

            </dl>
            <div class="btn-group btn-group-justified">
              <a href="/events" class="btn btn-primary">
                <i class="fa fa-chevron-left"></i>
              </a>

              <a href="/events/<%= @event.id %>/edit" class="btn btn-warning">
                <i class="fa fa-edit"></i>
              </a>

              <a href="/delete_event/<%= @event.id %>" class="btn btn-danger" rel="nofollow">
                <i class="fa fa-trash-o"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- End responsive panel example -->
